body{
    margin-left: 20px;
}

.chat{
    background-color: aquamarine;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;

}

.msg{
    background-color: brown;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.btn{
    background-color: black;
    color: yellow;
    padding: 5px;
    border-radius: 5px;
    border: none;
}